<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
 {% block title %}
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>Flask site</title>
    {% endif %}
  {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
{% block content -%}
  {%- block mainmenu -%}
    <div class="topnav" id="myTopnav">
        {% for el in menu -%}
            <a href="{{el.url}}">{{el.title}}</a>
        {% endfor -%}
        <a href="{{url_for('admin.index')}}">Админ панель</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>


  {% endblock mainmenu -%}


    {% if title -%}
    <h1>{{title}}</h1>
        {% else -%}
    <h1>Random text</h1>
    {% endif -%}

{% endblock %}

</body>
<script>
    /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
</html>
